start=114910
end=375880
threads=10
export output=/root/sharedata/markosweb.com/1.20110618/source
log=result/gather.log
urllist=../newsiteab
gather_site=http://www.markosweb.com/www/
user_tplink=admin
pass_tplink=608
ip_tplink=192.168.2.16
user_adsl=*902adsl8
pass_adsl=Hello123World
ip_log=result/ip.log
zero_byte_site=result/zero_byte_site
zero_byte_url=result/zero_byte_url
need_switch_ip=/tmp/need_switch_ip
times=20
down_site=markosweb
downType=curl
